@font-face {
    font-family: bladerunner;
    src: url(BLADRMF_.TTF);
}
body{
    min-width: 1100px;
    background:repeating-linear-gradient(45deg,rgb(0, 255, 136), rgb(195, 0, 255), rgb(0, 247, 255),rgb(225, 0, 255), rgb(0, 255, 85) );
    background-size: cover;
    background-repeat: no-repeat;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    width: 100%;
}
.header {
    background-color:rgb(0, 0, 0); 
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-right: 50px;
    font-size: 200%;
    font-family: bladerunner;
    color: white;
}
.logo:hover{
    background-size: 600%;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg,cyan, blue, rgb(255, 0, 255));
    animation: gradientelogo 1s infinite alternate ease-in-out;
}
a{
    text-decoration: none;
}
@keyframes gradientelogo {
    0%{
        background-position: top left;
    }
    100%{
        background-position: right bottom;
    }
}
.botoes{
    width: 150px;
    height: 50px;
    margin-left: 20px;
    border: 2.5px cyan solid;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.521);
    cursor: pointer;
}
.nomebtn{
    color: white;
    font-family: bladerunner;
    font-size: 150%;
}
.botoes:hover{
    animation: tamanho 0.5s forwards;
}
.botoes:hover .nomebtn{
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg,cyan,rgb(225, 0, 255),rgb(17, 0, 255),rgb(0, 255, 128),rgb(0, 204, 255),rgb(255, 0, 255));
    animation: gradiente 5s  infinite alternate ease-in-out;
}
@keyframes gradiente {
    0%{
        font-size: 155%;
    background-position: top left;
    }
    100%{
        font-size: 155%;
    background-position: bottom right;
    }
}
@keyframes tamanho {
    0%{
        transform: scale(1);
    }
    100%{
        background-color: black;
        border-top-left-radius: 25px;
        border-bottom-right-radius:25px ;
        transform: scale(1.1);
    }
}
.formulario {
    margin: 20% auto;
    margin-top:40px;
    border-radius: 25px;
    border: 2px solid white;
    padding: 25px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(59, 59, 59, 0.705);
    backdrop-filter: blur(8px);
   
}

.item-form, .titulo{
    text-align: center;
}
.titulo{
    font-family: bladerunner;
    margin-bottom: 10px;
    font-size: 400%;
    color: white;
    text-decoration: underline;
}
.item-form{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.item-form label{
    font-size: 200%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.item-form input{
    border-radius: 5px;
    border: 1px;
    border-color:black ;
    margin-top: 10px;
    display: inline-block;
    width: 70%;
    padding: 10px;
    margin-bottom: 0%;
    outline: none;
}
#enviar{
    height: 30px;
    width: 50%;
    border-radius: 40px;
    border: 1px white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
#enviar:hover{
    color: white;
    background-color: black;
    animation: aumento 0.5s forwards;
}
@keyframes aumento {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
#pagamento, #selecao{
    margin-top: 10px;
width: 60%;
padding: 10px;
border-radius: 40px;
}
#container-btn{
    margin-left: 30%;
}
#tabela{
    border-collapse: separate;
    border-spacing: 15px;
    background-color: rgba(0, 0, 0, 0.488);
    color: white;
    border: 1px cyan solid;
    border-radius: 25px;
    width: 10%;
    height: 20%;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 75px;
}
th{
    font-size: 150%;
}
